<div class="table_container">
    <h3>Add Product</h3>
    <table class="table table-striped">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>price</th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <td>
                <label for="id_product">
                    <input class="form-control" [(ngModel)]="idProduct" id="id_product" name="id_product" type="text">
                </label>
            </td>
            <td>
                <label for="name_product">
                    <input class="form-control" [(ngModel)]="nameProduct" id="name_product" name="name_product" type="text">
                </label>
            </td>
            <td>
                <label for="price_product">
                    <input class="form-control" [(ngModel)]="priceProduct" id="price_product" name="price_product" type="text">
                </label>
            </td>
            <td>
                <label for="add_product">
                    <select class="form-control" [(ngModel)]="categoryProduct" name="add_product" id="add_product">
                        <option *ngFor="let category of categories" value="{{category}}">{{category}}</option>
                    </select>
                </label>
            </td>
            <td>
                <button (click)="addProduct()" class="btn btn-success">add</button>
            </td>
        </tr>
    </table>
</div>