<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active"><a href="#" routerLink="/home" >Home</a></li>
                <li routerLinkActive="active"><a href="#" routerLink="/products" >Products</a></li>
                <li routerLinkActive="active"><a href="#" routerLink="/admin" >Admin</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>