<table class="table">
    <tr>
        <td>id</td>
        <td>{{product.id}}</td>
    </tr>
    <tr>
        <td>name</td>
        <td>{{product.name}}</td>
    </tr>
    <tr>
        <td>price</td>
        <td>{{product.price}}</td>
    </tr>
    <tr>
        <td>category</td>
        <td>{{product.category}}</td>
    </tr>
</table>

<a href (click)="goToProductsList()">go to products list</a>