.table_container {
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-top-color: transparent;
}
.table {
    margin-bottom: 0;
}
.table tr.tomato {
    background: tomato;
}