<div class="table_container">
    <label for="categories">
        <select class="form-control" [(ngModel)]="selectedCategory" name="categories" id="categories">
            <option *ngFor="let category of categories" value="{{category}}">{{category}}</option>
        </select>
    </label>
    <table class="table table-striped">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>price</th>
            <th></th>
        </tr>
        <tr *ngFor="let product of products | categoryPipe:selectedCategory" [class.tomato]="product.price > 500">
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td><a href (click)="removeRow(product.id)">remove</a></td>
        </tr>
    </table>
    <app-form-component [products]="products"></app-form-component>
</div>