<h2 class="text-center">Products</h2>

<ul *ngIf="products" class="list-group">
    <li class="list-group-item" *ngFor="let product of products">
        <a href (click)="selectProduct(product.id)">{{product.name}}</a>
    </li>
</ul>